//@import "~bootstrap/scss/bootstrap";

body {
  color: orange;
  background: white;
}

h1, h2.blue {
  color: oklab(59.686% 0.1009 0.1192) !important;
}



.wp-section {
  color: red;
  display: flex;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s;
}

//// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/variables-dark";
//@import "~bootstrap/scss/maps";
//@import "~bootstrap/scss/mixins";
//
//// 2. Include any default variable overrides here
//@import "_vars-bootstrap.scss";
//
//@import "global/_fonts";
//
//// 3. Include remainder of required Bootstrap stylesheets
//@import "~bootstrap/scss/root";
//
//// 4. Include any optional Bootstrap CSS as needed
//@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/type";
////@import "images";
//@import "~bootstrap/scss/containers";
////@import "transitions";
//@import "~bootstrap/scss/grid";
//
//// HELPERS
////@import "helpers/clearfix";
////@import "helpers/colored-links";
////@import "helpers/ratio";
////@import "helpers/position";
////@import "helpers/stacks";
//@import "~bootstrap/scss/helpers/visually-hidden";
////@import "helpers/stretched-link";
////@import "helpers/text-truncation";
////@import "helpers/vr";
//
////@import "tables";
////@import "pagination";
////@import "breadcrumb";
////@import "forms";
//@import "~bootstrap/scss/buttons";
//@import "~bootstrap/scss/close";
////@import "carousel";
//@import "~bootstrap/scss/nav";
//@import "~bootstrap/scss/navbar";
////@import "card";
////@import "modal";
////@import "accordion";
//@import "~bootstrap/scss/offcanvas";
//
//@import "global/wp-admin.scss";
//@import "global/typo.scss";
//
//@import "components/buttons.scss";
//
//@import "modules/editor-style";
//@import "modules/navigation.scss";
//@import "modules/footer.scss";
//@import "modules/content.scss";
//
//@import "main.scss";
//
//@import "templates/front.scss";
//
//@import "global/_utils"; //must be last in this file
