.wpml-ls-legacy-dropdown{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    a{
      color: inherit;
      font: 600 18px/1.3 $font-family-base;
      letter-spacing: -0.02em;
    }

  }
  .wpml-ls-item-toggle{
    display: flex;
    align-items: center;
    &:after{
      content: '';
      width: 16px;
      height: 16px;
      margin-left: 4px;
      background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.66699 6.66675L8.00087 9.72008L11.3337 6.66675" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      transition: 0.25s ease-in-out;
      transition-property: opacity, visibility, rotate;
      .is-white &{
        background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.66699 6.66675L8.00087 9.72008L11.3337 6.66675" stroke="white" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
    }
  }
  li{
    position: relative;
    &:hover{
      & > .wpml-ls-item-toggle{
        &:after{
          rotate: 180deg
        }
      }
      & > {
        .wpml-ls-sub-menu{
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
  .wpml-ls-sub-menu{
    margin-top: 32px;
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: 100%;
    border-radius: 8px;
    border: 1px solid var(--main-black, #050201);
    background: var(--backgrounds-light-beige, #F9F8F5);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility, transform;
    &:before{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      height: 32px;
      bottom: 100%;
    }
    & > li{
      overflow: hidden;
      &:first-child{
        border-radius: 8px 8px 0 0;
      }
      &:last-child{
        border-radius: 0 0 8px 8px;
      }
    }
    a{
      display: block;
      width: 54px;
      padding: 12px 8px;
      color: $black;
      text-align: center;
      @media (hover) {
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
