{% extends "base.twig" %}

{% block content %}
	<main class="py-100 py-lg-160">
		<div class="container">
			<div class="row">
				{% if post.content %}
					<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 text-block">
						{{ post.content }}
					</div>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}

