.fp-hero-block {
  margin-top: -100px;
  &__content {
    & > p {
      margin-bottom: 16px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__inner {
    background-position: 50% 50%;
    min-height: 812px;
    @include media-breakpoint-up(lg) {
      aspect-ratio: 1424/712;
      min-height: auto;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, 0.32);
    }
  }
}
