@import '../inc/Gutenberg/Blocks/**/assets/style.scss';

/*! purgecss start ignore */

@mixin cs-white {
  --background-color: #{$white};
  --highlight: #{$primary};
  --text-color: #{$black};
}

@mixin cs-orange {
  --background-color: #{$bg-light-orange};
  --highlight: #{$primary};
  --text-color: #{$black};
}

@mixin cs-green {
  --background-color: #{$bg-light-green};
  --highlight: #{$green};
  --text-color: #{$black};
}

@mixin cs-blue {
  --background-color: #{$bg-light-blue};
  --highlight: #{$blue};
  --text-color: #{$black};
}

@mixin cs-eggshell {
  --background-color: #{$eggshell};
  --highlight: #{$primary};
  --text-color: #{$black};
}

:root {
  @include cs-white();
}

::selection:not(:is(img, svg, a, .fp-button)) {
  background: var(--highlight);
  color: var(--text-color);
}

.is-style-cs {
  &-light-orange {
    @include cs-orange();
  }

  &-light-green {
    @include cs-green();
  }

  &-light-blue {
    @include cs-blue();
  }

  &-white {
    @include cs-white();
  }
  &-light-eegshell {
    @include cs-eggshell();
  }
}

.fp-block {
  background: var(--background-color);
  color: var(--text-color);
}

.fp-highlight {
  color: var(--highlight);

  &::selection {
    background: var(--text-color);
    color: var(--highlight);
  }
}

.fp-blur {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(254, 251, 244, 0.10);
  backdrop-filter: blur(20px);
}

.fp-no-scroll {
  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

/*! purgecss end ignore */
