// magic number with help us to recalculate 1rem to 10px
html {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02em;
  font-size: 1.6rem;
  background-color: $bg-light-orange;
}

a, button {
  transition-duration: 0.2s;
  transition-property: color, background-color, opacity, border-color;
}

img, svg {
  max-width: 100%;
  height: auto;
}

picture {
  display: inline-block;
}

.container {
  @each $size, $value in $container-padding {
    @include media-breakpoint-up($size) {
      padding-left: $value;
      padding-right: $value;
    }
  }
}

.fp-highlight {
  color: $primary;
  font-style: italic;
}
[data-draw-line]{
  opacity: 0;
}
