// 1. Include any optional Bootstrap CSS as needed
@import '~bootstrap/utilities';

// 2. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
$utilities: map-merge(
    $utilities,
    (
      'rounded': (
        responsive: true,
        property: border-radius,
        class: rounded,
        values: $rounded
      )
    )
);

@import '~bootstrap/utilities/api';
