// 1. Include any optional Bootstrap CSS as needed
@import '~bootstrap/utilities';

// 2. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
$utilities: map-merge(
    $utilities,
    (
      'text-transform': (
        responsive: false,
        property: text-transform,
        class: text,
        values: uppercase
      ),
      'text-align': (
        responsive: true,
        property: text-align,
        class: text,
        values: (
          start: left,
          end: right,
          center: center,
        )
      ),
      'position': (
        responsive: true,
        property: position,
        values: relative absolute fixed sticky
      ),
      'top': (
        property: top,
        values: $position-values
      ),
      'bottom': (
        property: bottom,
        values: $position-values
      ),
      'start': (
        property: left,
        class: start,
        values: $position-values
      ),
      'end': (
        property: right,
        class: end,
        values: $position-values
      ),
      'translate-middle': (
        property: transform,
        class: translate-middle,
        values: (
          null: translate(-50%, -50%),
          x: translateX(-50%),
          y: translateY(-50%),
        )
      ),
      'display': (
        responsive: true,
        print: false,
        property: display,
        class: d,
        values: block flex inline-flex inline-block none grid
      ),

      'margin-x': (
        responsive: false,
        property: margin-right margin-left,
        class: mx,
        values: $spacers
      ),
      'margin-y': (
        responsive: true,
        property: margin-top margin-bottom,
        class: my,
        values: $spacers
      ),
      'margin-end': (
        responsive: true,
        property: margin-right,
        class: me,
        values: $spacers
      ),
      'margin-start': (
        responsive: true,
        property: margin-left,
        class: ms,
        values: $spacers
      ),
      'margin-bottom': (
        responsive: true,
        property: margin-bottom,
        class: mb,
        values: $spacers
      ),
      'margin-top': (
        responsive: true,
        property: margin-top,
        class: mt,
        values: $spacers
      ),

      'padding': (
        responsive: true,
        property: padding,
        class: p,
        values: $spacers
      ),
      'padding-x': (
        responsive: true,
        property: padding-right padding-left,
        class: px,
        values: $spacers
      ),
      'padding-y': (
        responsive: true,
        property: padding-top padding-bottom,
        class: py,
        values: $spacers
      ),
      'padding-top': (
        responsive: true,
        property: padding-top,
        class: pt,
        values: $spacers
      ),
      'padding-end': (
        responsive: true,
        property: padding-right,
        class: pe,
        values: $spacers
      ),
      'padding-bottom': (
        responsive: true,
        property: padding-bottom,
        class: pb,
        values: $spacers
      ),
      'padding-start': (
        responsive: true,
        property: padding-left,
        class: ps,
        values: $spacers
      ),

      'color': (
        property: color,
        class: text,
        values: $text-color
      ),
      'background-color': (
        property: background-color,
        class: bg,
        values: $background-color
      ),
      'flex-direction': (
        responsive: true,
        property: flex-direction,
        class: flex,
        values: row column
      ),
      'flex-grow': (
        responsive: true,
        property: flex-grow,
        class: flex,
        values: (
          grow-0: 0,
          grow-1: 1,
        )
      ),
      'flex-shrink': (
        responsive: true,
        property: flex-shrink,
        class: flex,
        values: (
          shrink-0: 0,
          shrink-1: 1,
        )
      ),
      'flex-wrap': (
        responsive: true,
        property: flex-wrap,
        class: flex,
        values: wrap nowrap wrap-reverse
      ),
      'justify-content': (
        responsive: true,
        property: justify-content,
        values: (
          start: flex-start,
          end: flex-end,
          center: center,
          between: space-between,
          around: space-around,
          //evenly: space-evenly,
        )
      ),
      'align-items': (
        responsive: true,
        property: align-items,
        values: (
          start: flex-start,
          end: flex-end,
          center: center,
          //baseline: baseline,
          //stretch: stretch,
        )
      ),
      'align-content': (
        responsive: true,
        property: align-content,
        values: (
          start: flex-start,
          end: flex-end,
          center: center,
          //between: space-between,
          //around: space-around,
          //stretch: stretch,
        )
      ),
      'align-self': (
        responsive: false,
        property: align-self,
        values: (
          start: flex-start,
          end: flex-end,
        )
      ),
      'order': (
        responsive: true,
        property: order,
        values: (
          0: 0,
          1: 1,
          2: 2,
        ),
      ),

      'gap': (
        responsive: true,
        property: gap,
        class: gap,
        values: $spacers
      ),
      'row-gap': (
        responsive: true,
        property: row-gap,
        class: row-gap,
        values: $spacers
      ),
      'column-gap': (
        responsive: true,
        property: column-gap,
        class: column-gap,
        values: $spacers
      ),
      'width': (
        responsive: true,
        property: width,
        class: w,
        values: (100: 100%, auto: auto)
      ),
      'height': (
        responsive: false,
        property: height,
        class: h,
        values: (100: 100%, auto: auto)
      ),
      'overflow': (
        property: overflow,
        values: hidden visible,
      ),
    )
);

@import '~bootstrap/utilities/api';
