// colors settings
$white: #fff;
$black: #050201;
$gray: #ADADAD;
$gray-light: #E6E6E6;
$gray-dark: #4A4745;
$blue: #3E8CF3;
$green: #40c07e;

$primary: #F2A84F;

$bg-eggshell: #F3E6D6;
$bg-light-orange: #FDF1D7;
$bg-light-green: #D5F6E6;
$bg-light-blue: #DCECFD;
$bg-light-beige: #F9F8F5;

// grid settings
$grid-gutter-width: 24px;

// container width
$container-max-widths: (
  //sm: 540px,
  //md: 720px,
  //lg: 960px,
  //xl: 1140px,
  xl: 1440px
);

// container padding
$container-padding: (
  xs : 16px,
  md : 24px,
  xl : 40px,
);

// offcanvas settings
$offcanvas-border-width: 0;
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: .5;

$link-decoration: none;

$blur: 20px;

// fonts settings
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-size-base: 1.6rem;
$font-family-base: 'Manrope', sans-serif;
$line-height-base: 1.5;
$font-weight-base: $font-weight-medium;

$headings-font-family: 'Brygada 1918', serif;
$headings-font-weight: $font-weight-medium;
$headings-line-height: 1;

// position variations
$position-values: (
  0: 0,
  50: 50%,
  100: 100%
);

// spacers variations
$spacers: (
  0: 0,
  4: 4px,
  8: 8px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  28: 28px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
  48: 48px,
  52: 52px,
  56: 56px,
  60: 60px,
  64: 64px,
  68: 68px,
  72: 72px,
  76: 76px,
  80: 80px,
  100: 100px,
  120: 120px,
  140: 140px,
  160: 160px,
  180: 180px,
  200: 200px,
  220: 220px,
  240: 240px,
);

// colors
$theme-colors: (
  'primary':    $primary,
  'secondary':  $secondary,
  'success':    $success,
  'info':       $info,
  'warning':    $warning,
  'danger':     $danger,
  'light':      $light,
  'dark':       $dark,

  'white': $white,
  'black': $black,
  'gray': $gray,
  'light-blue': $bg-light-blue,
  'light-orange': $bg-light-orange,
  'light-green': $bg-light-green
);


// z-index variations
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3
);

$rounded: (
  0: 0,
  circle: 50%,
  16: 16px,
  32: 32px,
  40: 40px,
);

// heading styles
$headings-styles: (
  xs: (
    'h1': ('font-size': 5.6rem),
    'h2': ('font-size': 4.8rem),
    'h3': ('font-size': 3.2rem),
    'h4': ('font-size': 2.4rem),
    'h5': ('font-size': 2rem),
    'h6': ('font-size': 1.6rem),
  ),
  //md: (
  //  'h1': ('font-size': 64px),
  //  'h2': ('font-size': 32px),
  //  'h3': ('font-size': 20px),
  //  'h4': ('font-size': 18px),
  //  'h5': ('font-size': 10px),
  //  'h6': ('font-size': 10px),
  //),
  xl: (
    'h1': ('font-size': 8.8rem),
    'h2': ('font-size': 7.2rem),
    'h3': ('font-size': 3.2rem),
    'h4': ('font-size': 2.4rem),
    'h5': ('font-size': 2rem),
    'h6': ('font-size': 1.6rem),
  ),
);
