{% extends "base.twig" %}

{% block content %}
	<main id="main" class="fp-404-page text-center d-flex flex-column justify-content-center py-100 py-md-160">
        <div class="container">
			<div class="fp-404-page__block ms-auto me-auto">
				<h1 class="text-primary">{{ __( '404', 'fp' ) }}</h1>
				<p class="h3 mb-40">{{ __( 'OOOPS... Page not found', 'fp' ) }}</p>
			</div>
		</div>
    </main>
{% endblock %}
