{% extends "base.twig" %}

{% block content %}
	<main id="main" class="fp-404-page text-center d-flex flex-column justify-content-center">
        <div class="container">
			<div class="fp-404-page__block ms-auto me-auto">
				<h1 aria-label="Page 404">
					<svg width="500" height="224" viewBox="0 0 280 126" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 62.3587C0 20.4877 53.0711 2.46492 78.5415 35.6863V35.6863C93.4041 55.0717 121.24 58.5507 140.412 43.419L178.139 13.6412C219.394 -18.9204 280 10.4826 280 63.0587V63.0587C280 97.8202 251.837 126 217.097 126H48.8136C21.8546 126 0 104.132 0 77.1569V62.3587Z" fill="rgba(var(--accent-2), 0.15)"/>
						<path d="M115.36 95.0087C134.845 95.0087 150.64 79.1411 150.64 59.5676C150.64 39.994 134.845 24.1265 115.36 24.1265C95.8755 24.1265 80.0801 39.994 80.0801 59.5676C80.0801 79.1411 95.8755 95.0087 115.36 95.0087Z" fill="rgb(var(--accent-2)"/>
						<path d="M8.64941 69.5389L36.8577 19.0493H45.8581L17.2107 69.5389H8.64941ZM8.64941 74.5879V69.5389L12.052 67.3437H65.8344V74.5879H8.64941ZM46.7361 94.5642V44.1844H54.6389V94.5642H46.7361Z" fill="rgb(var(--text))"/>
						<path d="M188.969 69.5389L217.178 19.0493H226.178L197.531 69.5389H188.969ZM188.969 74.5879V69.5389L192.372 67.3437H246.154V74.5879H188.969ZM227.056 94.5642V44.1844H234.959V94.5642H227.056Z" fill="rgb(var(--text))"/>
						<path d="M132.222 103.816C132.558 105.85 134.517 107.218 136.495 106.638C144.72 104.23 152.174 99.3038 157.953 92.4037C163.893 85.3114 167.77 76.486 169.134 67.0439C169.397 65.226 168.038 63.6121 166.209 63.4352C164.341 63.2545 162.699 64.6417 162.406 66.4957C161.173 74.2977 157.917 81.5789 152.992 87.4586C148.157 93.2319 141.943 97.3792 135.081 99.4603C133.191 100.034 131.9 101.867 132.222 103.816Z" fill="rgb(var(--accent-2))"/>
						<path d="M166.276 56.6304C168.114 56.5058 169.521 54.9229 169.301 53.0939C168.633 47.5271 167.09 42.1188 164.732 37.1099C162.473 32.3106 159.504 27.961 155.954 24.2317C154.527 22.7323 152.124 22.9817 150.885 24.64C149.786 26.11 150.009 28.1653 151.275 29.4937C154.301 32.6678 156.83 36.3715 158.754 40.4589C160.678 44.5463 161.964 48.9466 162.566 53.4786C162.813 55.3328 164.41 56.7569 166.276 56.6304Z" fill="rgb(var(--accent-2))"/>
						<path d="M145.7 20.0307C146.575 18.3741 146.032 16.3078 144.375 15.4339C141.748 14.0491 139.005 12.9477 136.182 12.145C134.2 11.5813 132.254 12.9623 131.931 14.9976C131.621 16.9503 132.927 18.7767 134.824 19.3363C136.776 19.9123 138.682 20.657 140.526 21.5632C142.396 22.4827 144.726 21.8735 145.7 20.0307Z" fill="rgb(var(--accent-2))"/>
					</svg>
				</h1>
				{% if title %}
					<p class="h2 mb-40">{{ title }}</p>
				{% endif %}
				{% if link.title and link.url %}
					<a href="{{ link.url }}" class="fp-button w-100 d-flex align-items-center justify-content-center gap-20">
						{{ link.title }}
						<span class="icon border-radius-circle border-1 border-color-body d-flex justify-content-center align-items-center flex-shrink-0">
						<svg width="28" height="28">
							<use xlink:href="{{ svg_sprite }}#icon-link-arrow"></use>
						</svg>
					</span>
					</a>
				{% endif %}
			</div>
		</div>
    </main>
{% endblock %}

{% block footer %}
	<footer>

	</footer>
{% endblock %}
