{% extends "base.twig" %}

{% block content %}
	<main>
		<div class="container">
			<h1>{{ title }}</h1>

			<div class="fp-products-list row row-gap-20 row-gap-md-30 row-gap-lg-45">
				{% for post in posts %}
					<div class="col-12 col-md-6 col-lg-4 col-xl-3">
						{{ post.title }}
					</div>
				{% else %}
					<div class="col-12">
						<div class="text-center h3">{{ __('No results', 'fp') }}</div>
					</div>
				{% endfor %}
			</div>
			{% include "partial/pagination.twig" with {'classes' : 'mt-80'} %}
		</div>
	</main>
{% endblock %}
