{% extends "base.twig" %}

{% block content %}
    <main class="py-80 py-lg-120 py-xl-160">
		<div class="container">
			<h1>{{ post.title }}</h1>
			<div>{{ post.content }}</div>
		</div>
	</main>
{% endblock %}

