.fp-contact-form {
  --bs-border-color: rgba(254, 251, 244, 0.24);

  .row {
    row-gap: 24px;
  }

  label {
    display: inline-flex;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
    cursor: pointer;
  }

  .wpcf7-response-output {
    display: none;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    color: $red;
    top: calc(100% + 4px);
    right: 0;
    font-size: 1.2rem;
  }

  .wpcf7-form-control-wrap {
    display: block;
    position: relative;

    textarea {
      resize: none;
      height: 140px;
    }

    input, textarea {
      display: inline-block;
      width: 100%;
      border-radius: 12px;
      border: 1px solid $black;
      padding: 10px 16px;
      font-size: 1.6rem;
      background-color: $white;

      &:focus {
        outline: none;
        border-color: $black;
      }

      &::placeholder {
        color: $gray;
      }

      &.wpcf7-not-valid {
        background-color: #FFE2E2;
        border-color: $red;
      }
    }
  }
}
