.desktop-nav{
  .nav-link-toggle{
    transition: 0.15s ease-in-out;
    transition-property: rotate;
    flex-shrink: 0;
  }
  .nav-link{
    font: 600 1.6rem/1.3 $font-family-base;
    letter-spacing: -0.02em;
    padding: 0;
    @media (hover) {
      &:hover {
        color: $primary;
      }
    }
    &.active{
      --bs-navbar-active-color: #{$primary};
      &:before{
        content: '';
        display: block;
        flex-shrink: 0;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: currentColor;
        margin-right: 8px;
      }
    }
  }
  .nav-item:hover > {
    .nav-link .nav-link-toggle{
      transition: 0.15s ease-in-out;
      rotate: 180deg;
    }
    .dropdown-nav {
      transition-delay: 0s;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .dropdown-nav{
    margin-top: 32px;
    width: 750px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility, transform;
    transition-delay: 0.1s;
    @include media-breakpoint-up(xl) {
      width: 800px;
    }
    &:before{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      height: 32px;
      bottom: 100%;
    }
    .nav-item{

    }
    .nav-link{
      padding: 0;
      color: $black;
      font: 600 1.8rem/1.3 $font-family-base;
      letter-spacing: -0.04em;
      @media (hover) {
        &:hover {
          color: rgba($black, 0.7);
        }
      }
    }
  }
  .dropdown-nav-list{
    max-width: 500px;
    column-gap: 44px;
    column-count: 2;
    break-inside: avoid;
  }
}
