@include media-breakpoint-down(md) {
  /* TOP BAR Mobile STYLING */

  .title-bar {
    text-align: right;

    .navbar-toggler {
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }

  .navbar-nav {
    display: block;

    .nav-item {
      > .nav-link {
        line-height: 45px;
        padding: 0 15px;

        &:hover,
        &:focus {
          &,
          & + .submenu-toggle {
            background: darken(
                $primary,
                5
            ); /* menu item background color on hover */
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a,
        .submenu-toggle {
          background: lighten(
              $primary,
              5
          ); /* current/parent menu item background color */
        }
      }

      &[aria-expanded='true'] {
        > a,
        .submenu-toggle {
          background: darken(
              $primary,
              3
          ); /* menu item background color on open dropdown */
        }
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        // TODO: Replace with bootstrap vars
        //padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          // TODO: Replace with bootstrap vars
          //padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  /* TOP BAR STYLING */

  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    //justify-content: flex-start;

    /* Align menu items to the right */
    justify-content: flex-end;

    /* Align menu items to the center */
    // justify-content: center;

    .nav-item {
      > .nav-link {
        /* Regular menu item style */
        //color: $white;
        padding: 0;
        &:hover {
          /* menu item style on hover */
          color: $primary;
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          color: $primary;
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        color: $primary;
      }
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background: $white;
          color: $primary;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            background: lighten($primary, 10);
            color: $white;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            background: lighten($primary, 10);
            color: $white;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
}
