<div class="d-none d-sm-block">
	<p class="fp-body-sm font-weight-600 text-gray text-uppercase mb-24">{{ title }}</p>
	{% include "partial/footer_menu.twig" with {'items': menu_items, 'class': 'fp-footer-menu d-flex flex-column gap-12 m-0 p-0'} %}
</div>
