<div data-offcanvas class="offcanvas offcanvas-booking offcanvas-top bg-eggshell" tabindex="-1" id="offcanvas-booking">
	<div class="px-16 px-md-24 px-lg-40 py-24">
		<div class="position-relative d-flex justify-content-center align-items-center">
			<svg class="text-black" width="140" height="40"><use xlink:href="#icon-header-full-logo"></use></svg>
			<button type="button" class="btn-close position-absolute top-0 end-0 mt-6" data-bs-dismiss="offcanvas" aria-label="{{ _e('Close', 'fp') }}"></button>
		</div>
	</div>
	<div class="offcanvas-body pt-40 pb-40 px-0 d-flex flex-column justify-content-center align-items-center">
		<div class="container w-100">
			{{ fn('do_shortcode', '[bookingpress_form]') }}
		</div>
	</div>

</div>
