<div data-offcanvas class="px-16 px-md-24 pb-24 pt-66 bg-primary offcanvas d-flex flex-column offcanvas-top d-xl-none" tabindex="-1" id="offcanvas">
    <div class="offcanvas-body p-0 pt-40 pt-md-60">
        <nav>
            {% include "partial/menu-mob.twig" with {'items': menu.desktop_nav.get_items, 'offcanvas': true} %}
        </nav>
    </div>
	<div class="offcanvas-footer bg-primary">
		{% if header.cta_button.url and header.cta_button.title %}
			<a class="fp-button w-100 d-flex mb-40" href="{{ header.cta_button.url|e('esc_url') }}" data-bs-toggle="offcanvas" target="{{ header.cta_button.target|e('html_attr') ?: '_self' }}">
				<span class="flex-grow-1 text-center">{{ header.cta_button.title|e('wp_kses_post') }}</span>
				<span class="icon-box">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M8.23429 2.63431C8.54671 2.32189 9.05324 2.32189 9.36566 2.63431L14.1657 7.43431C14.4781 7.74673 14.4781 8.25326 14.1657 8.56568L9.36566 13.3657C9.05324 13.6781 8.54671 13.6781 8.23429 13.3657C7.92187 13.0533 7.92187 12.5467 8.23429 12.2343L11.6686 8.79999L2.39998 8.8C1.95815 8.79999 1.59998 8.44182 1.59998 7.99999C1.59998 7.55817 1.95815 7.19999 2.39998 7.19999H11.6686L8.23429 3.76568C7.92187 3.45326 7.92187 2.94673 8.23429 2.63431Z" fill="currentColor"/>
					</svg>
				</span>
			</a>
		{% endif %}
		<div class="line-lang-switcher">
			{{ fn('do_action', 'wpml_language_switcher', {'type' : 'footer', 'flags' : 0}) }}
		</div>
	</div>
</div>
