@import 'abstracts/abstracts';

@import '~bootstrap/containers';
@import '~bootstrap/grid';
@import '~bootstrap/helpers/ratio';
@import '~bootstrap/helpers/visually-hidden';

@import
  //'base/main',
  'base/gutenberg';

@import 'layout/forms';

@import
  'components/breadcrumbs',
  'components/buttons';

/*! purgecss start ignore */

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,500;1,500&family=Manrope:wght@500;600&display=swap');


a, button {
  transition-duration: 0.2s;
  transition-property: color, background-color, opacity, border-color;
}

img, svg {
  max-width: 100%;
  height: auto;
}

picture {
  display: inline-block;
}

.container {
  @each $size, $value in $container-padding {
    @include media-breakpoint-up($size) {
      padding-left: $value;
      padding-right: $value;
    }
  }
}

.fp-highlight {
  color: $primary;
  font-style: italic;
}

:root {
  font-size: 62.5%;
  //--wp-admin-theme-color: #{$primary};
  //--wp-admin-theme-color-darker-10: #{$primary};
}

.edit-post-visual-editor{

  * {
    box-sizing: border-box;
  }

  input[type=checkbox], input[type=radio] {
    width: 1.6rem;
    height: 1.6rem;
    &:checked::before {
      width: 2rem;
      height: 2rem;
    }
  }
}

.editor-styles-wrapper {

  font-family: $font-family-base !important;
  font-size: 1.6rem !important;
  line-height: 1.5 !important;
  .fp-body-sm {
    font-size: 1.4rem;
    font-weight: $font-weight-medium;
    line-height: 1.4285;
    letter-spacing: 0.04em;
  }
  @each $size, $headers in $headings-styles {
    @include media-breakpoint-up($size) {
      @each $header, $header-defs in $headers {
        #{$header}, .#{$header} {

          @if map-has-key($header-defs, font-size) {
            font-size: map-get($header-defs, font-size);
          }
          @if map-has-key($header-defs, letter-spacing) {
            letter-spacing: map-get($header-defs, letter-spacing);
          }
          @if map-has-key($header-defs, line-height) {
            line-height: map-get($header-defs, line-height);
          }
          @if map-has-key($header-defs, margin-top) {
            margin-top: map-get($header-defs, margin-top);
          }
          @if map-has-key($header-defs, margin-bottom) {
            margin-bottom: map-get($header-defs, margin-bottom);
          }
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: $headings-font-family;
    margin-top: 0 !important;
  }

  h1 {
    @include media-breakpoint-up(lg) {
      font-size: 6rem;
    }
  }
  input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    line-height: 1.5;
  }
}

.editor-post-title {
  text-align: center !important;
}

.edit-post-editor__list-view-panel {
  min-width: 268px !important;
}

.interface-complementary-area.edit-post-sidebar {

  @include media-breakpoint-up(lg) {
    width: 400px;
  }
}

button[aria-label="Heading 1"] {
  display: none !important;
}

.block-editor-default-block-appender .block-editor-inserter {
  top: 20px !important;
  right: 20px !important;

  button {
    background-color: $primary !important;
    color: $white !important;
  }
}

.components-popover__content {
  --wp-admin-theme-color: #{$primary};
}

.components-range-control__tooltip {
  z-index: 2;
}

.block-editor-block-list__layout {
  padding: 0 20px;
}

.acf_content {
  margin: 15px;
}

// Blocks

.fp-block {
  p {
    margin-top: 0;
  }
}

.fp-button {
  text-decoration: none !important;
}

.wp-block-image {
  float: none !important;

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    margin-left: auto !important;
  }

  &.alignleft {
    margin-right: auto !important;
  }

  img {
    max-width: 100% !important;
    height: auto !important;
  }

  .components-resizable-box__container {
    max-width: 100% !important;
  }
}

.splide__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow-y: auto;
}

.fp-hero-block {
  margin: 0;
}

.fp-services-list-block {
  .splide__list {
    &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
    }
  }

  .fp-services-slider {
    .fp-service-card {
      flex: 0 0 900px;
    }
  }
}

b,
strong {
  font-weight: $font-weight-bold;
}

/*! purgecss end ignore */

@import 'base/_utils'; //must be last in this file

