@import 'abstracts/abstracts';

@import 'vendors/bootstrap';

/*! purgecss start ignore */
@import 'vendors/splide';

@import 'base/main',
    'base/typography',
    'base/content',
    'base/wp-admin',
    'base/gutenberg';

@import 'layout/header',
    'layout/navigation',
    'layout/offcanvas',
    'layout/footer',
    'layout/forms';

@import 'components/breadcrumbs',
    'components/buttons',
    'components/bookingpress',
    'components/lang-switcher';

@import 'pages/front';
/*! purgecss end ignore */

@import 'base/_utils'; //must be last in this file

