@import 'abstracts/abstracts';
@import
  'vendors/bootstrap',
  'vendors/splide',
  'vendors/bookingpress';

@import
  'base/fonts',
  'base/main',
  'base/typography',
  'base/content',
  'base/wp-admin',
  'base/gutenberg';

@import
  'layout/header',
  'layout/navigation',
  'layout/footer',
  'layout/forms';

@import 'components/buttons';

@import 'pages/front';

@import 'base/_utils'; //must be last in this file

