@import 'abstracts/abstracts';
@import
  'vendors/bootstrap',
  'vendors/splide';

@import
  'base/fonts',
  'base/main',
  'base/typography',
  'base/content',
  'base/wp-admin',
  'base/gutenberg';

@import
  'layout/header',
  'layout/navigation',
  'layout/offcanvas',
  'layout/footer',
  'layout/forms';


/*! purgecss start ignore */

@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/bookingpress';
@import 'components/lang-switcher';

@import 'pages/front';
/*! purgecss end ignore */

@import 'base/_utils'; //must be last in this file

