<section {{ anchor }} {{ attribute }}>
	<div class="container">
		{% if fields.title %}
			<div class="position-relative text-center mb-64">
				<h2 class="text-uppercase mb-16">{{ fields.title | highlight_text }}</h2>
				<svg xmlns="http://www.w3.org/2000/svg" width="160" height="32" viewBox="0 0 160 32" fill="none">
					<path d="M1.65731 2.04549L117.252 3.1059C128.06 3.20913 138.867 3.30297 149.674 3.4062L151.105 1.3886C115.099 2.88068 79.0794 4.37277 43.0737 5.85546C32.9604 6.27775 22.8329 6.69066 12.7196 7.11294C11.7706 7.15048 10.1134 7.53523 9.74513 8.19212C9.37686 8.84901 10.4533 9.11177 11.3032 9.11177C48.0596 9.28068 84.8585 9.45898 121.558 10.9698C131.841 11.3921 142.111 11.9176 152.366 12.5839L153.782 10.5757C131.856 12.3024 109.929 14.0197 88.0029 15.7464C87.0398 15.8214 85.3967 16.1499 85.0143 16.8349C84.6318 17.52 85.7225 17.7358 86.5723 17.7546C104.051 18.1487 121.502 18.9088 138.909 20.0349L140.34 18.0173C124.037 19.0496 107.762 20.232 91.5015 21.5833C90.5242 21.6678 88.867 21.9868 88.4845 22.6813C88.1021 23.3757 89.2069 23.6009 90.0568 23.6103C101.119 23.7698 112.068 24.849 122.72 26.8291L124.023 24.9429C117.224 25.8719 110.425 26.7915 103.626 27.73C102.677 27.8613 100.043 28.8748 101.813 29.5223C105.425 30.8455 109.349 31.6619 113.442 31.981C114.717 32.0748 116.289 31.9247 117.252 31.3053C117.989 30.8361 117.96 30.1323 116.742 30.0385C112.989 29.7475 109.476 28.9874 106.176 27.7581L104.363 29.5505C111.162 28.6215 117.946 27.6924 124.745 26.754C126.091 26.5663 128.414 25.3088 126.048 24.8678C115.014 22.8314 103.626 21.7335 92.1672 21.5646L90.7366 23.5915C106.997 22.2496 123.272 21.0484 139.575 20.0162C140.538 19.9599 142.196 19.6033 142.564 18.9276C142.932 18.2519 141.841 18.0549 141.006 17.9986C123.598 16.8725 106.147 16.1124 88.6686 15.7182L87.2381 17.7264C109.164 15.9997 131.091 14.2731 153.031 12.5558C153.994 12.4807 155.637 12.1522 156.006 11.4672C156.374 10.7822 155.283 10.5945 154.448 10.5475C117.847 8.19212 81.0624 7.53523 44.306 7.26309C33.9944 7.18802 23.697 7.1411 13.3854 7.09417L11.9689 9.093C47.9746 7.60092 83.9803 6.11822 120 4.63552L150.354 3.38743C151.303 3.34989 152.989 2.95576 153.343 2.29887C153.697 1.64197 152.635 1.37922 151.785 1.36983C113.258 1.00385 74.731 0.656637 36.2041 0.300039L3.78196 -0.000254453C2.62048 -0.00963862 0.807451 0.262502 0.184221 0.985083C-0.439008 1.70766 0.722465 2.03611 1.65731 2.04549Z" fill="var(--highlight)"/>
				</svg>
			</div>
		{% endif %}
	</div>
</section>
